.admin-course-upload-form{
    background-color: #ecf3ef;
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
    width: 80%;
    padding: 50px;
    margin: 10px auto;
    border-radius: 15px;
}
.upload-video-lable{
    cursor: pointer;
    background-color: #ecf3ef;
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;

}
input[type="file"] {
    display: none;
}
.upload-video-button{
    all: unset;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
    display: block;
    margin: auto;
    margin-top:50px;
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.video-input{
    all: unset;
    display: block;
    padding: 15px;
    margin: 40px auto;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
}
.video-select{
    border: none;
    outline: none;
    font-family: kalameh;
    display: block;
    padding: 10px;
    background-color: white;
    width: 30%;
    margin: 35px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
}

@media only screen and (max-width:700px){
    .admin-course-upload-form{
        width: 70%;
    }
    .upload-video-lable{
        width: 35%;
        text-align: center;
    }
    .video-select{
        width: 70%;
    }
    .video-input{
        width: 90%;
    }
    .upload-video-button{
        width: 60%;
    }
}

@media only screen and (max-width: 500px){
    .admin-course-upload-form{
        padding: 25px;
        width: 85%;
    }
}