.admin-lists-container{
    width: 75%;
}
.table-container{
    overflow-x: auto;
}
table{
    margin: 10px auto;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    width: 85%;
    border-collapse: collapse;
}
thead{
    background-color: #e2ece6;
    color:#555;
    font-family: kalameh;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
th{
    padding: 8px;
    margin: 0;
}
td{
    text-align: center;
    padding: 15px;
    color: #555;
}
.opreation-icon{
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
.delete-icon{
    color: #bb3232;
}
@media only screen and (max-width:1000px){
    .admin-lists-container{
        width: 100%;
    }
    th , td{
        min-width: 150px;
    }
}
@media only screen and (max-width:750px){
    table{
        width: 100%;
        margin: 0 !important;
        padding:0 20px;
    }
}