.student-lists-container{
    width: 75%;
}
.filter-container{
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.filter-container button{
    all: unset;
    margin: 20px;
    background-color: #e2ece6;
    color:#555;
    font-family: kalameh;
    width: 25%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.table-container{
    overflow-x: auto;
}
table{
    margin: 25px auto;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    width: 85%;
    border-collapse: collapse;
}
thead{
    background-color: #e2ece6;
    color:#555;
    font-family: kalameh;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
th{
    padding: 8px;
    margin: 0;
}
td , th{
    min-width: 150px;
}
@media only screen and (max-width:1000px){
    .student-lists-container{
        width: 100%;
    }

}
@media only screen and (max-width:750px){
    .student-lists-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .filter-container{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .filter-container button{
        width: 75%;
        margin: 25px auto;
    }
}