.right-nav{
    width: 25%;
    height: 100vh;
    background-color: #e2ece6;
    box-shadow: rgba(60, 60, 103, 0.4) 0px 30px 60px -12px, rgba(10, 10, 10, 0.5) 0px 18px 36px -18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-nav img{
    width: 200px;
    height: 125px;
}
.list-menu-item-admin{
    text-align: right;
    display: block;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    width: 80%;
    margin:15px auto;
    border-radius: 10px;
    cursor: pointer;
}
.list-menu-item-admin:hover{
    background-color: #1c741c;
}
.list-link{
    transition: all 0.3s ease-in-out;
    display: block;
    display: flex;
}
.list-menu-item-admin:hover .list-link{
    color: white;
}
.list-menu-item-admin a{
    color: black;
}
.list-icon{
    margin-left: 10px;
    font-size: 20px;
}
.bottom-right-nav {
    background-color: #cc4141;
    margin: 20px auto;
    width: 75%;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.bottom-right-nav:hover{
    background-color: #b62727;
}
.logout-link{
    color: white;
}