header{
    background-image: url("../../../public/images/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    position: relative;
    z-index: 1000;
}
header::before{
    background-image: linear-gradient(to left bottom , rgba(0 , 0 , 0 , 0.2) , rgba(0 , 0 , 0 , 0.8));
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1000;
}
.responsive-icon{
    color: white;
    font-size: 30px;
    padding: 40px 10px;
    display: none;
}
.responsive-menu{
    position: absolute;
    background-color: white;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    animation: loadMenu 1s ease-in-out;
}
.close-icon{
    display: block;
    font-size: 25px;
    padding: 10px;
}
.responsive-list li{
    padding: 10px;
    margin: 15px;
    font-size: 20px;
}
.responsive-list li a{
    color: #444;
}
.top-menu{
    display: flex;
    justify-content: space-between;
}
.list-menu{
    padding: 15px 0;
}
.list-menu-item{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.list-menu-item a{
    color: white;
}
.list-btn{
    border: 1px solid #1c741c;
    background-color: #1c741c;
    border-radius: 10px;
    font-family: kalameh;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.list-btn:hover{
    background-color: transparent;
}
.logo{
    width: 200px;
    height: 100px;
    padding-left: 10px;
}
.header-title{
    font-family: kalameh;
    color: white;
    font-size: 3.2rem;
    text-align: center;
    margin: 20px auto;
    animation: load-title 2s ease-in-out;
}
.school-name{
    color: #1c741c;
}
.middle-text{
    color: white;
    font-size: 1.5rem;
    font-family: kalameh;
    text-align: center;
    margin: 25px auto;
}
.go-to-down{
    color: #ccc;
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    font-size: 30px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    animation: go-to-down 1.5s ease-in-out infinite;
}
@keyframes load-title{
    from{
        opacity: 0;
        transform: translateX(15px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes go-to-down{
    from{
        opacity: 0;
        transform: translateY(-15px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes loadMenu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width:1200px){
    .list-menu{
        display: none;
    }
    .go-to-down{
        display: none;
    }
    .responsive-icon{
        display: block;
    }
}
@media only screen and (max-width:400px){
    .middle-text{
        font-size: 1.3rem;
    }
}