.courses-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ebebeb;
    box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px;
    position: sticky;
    top: 0;
    right: 0;
}
.student-info-box{
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
    width: 15%;
    text-align: center;
    cursor: pointer;
}
.go-to-home{
    padding: 10px;
    font-size: 20px;
    display: flex;
}
.logout-box{
    color: #e13838;
    font-size: 15px;
    margin: 2px 20px;
    cursor: pointer;
}
.go-to-home a{
    color: #333;
    padding: 5px;
}
@keyframes load-box{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width:550px){
    .student-info-box{
        width: 30%;
    }
}
@media only screen and (max-width:400px){
    .student-info-box{
        width: 45%;
    }
}