.admin-container h2{
    padding: 20px;
    font-family: kalameh;
    color: #78887e;
    font-size: 1.8rem;
}
.admin-service-container{
    display: flex;
    justify-content: center;
}
.admin-service{
    padding: 50px;
    margin: 30px auto;
    box-shadow: rgba(60, 103, 83, 0.5) 0px 30px 60px -12px, rgba(0, 63, 49, 0.5) 0px 18px 36px -18px;
    width: 35%;
    background-color: #ecf3ef;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}
.admin-service:hover{
    transform: translateY(10px);
}
.top-service{
    display: flex;
    justify-content: space-between;
}
.admin-service h3{
    font-family: kalameh;
    color: #78887e;
    font-size: 1.3rem;
}
.admin-service-icon{
    font-weight: bolder;
    font-size: 30px;
    color: #78887e;
}
@media only screen and (max-width:800px){
    .admin-service-container{
        flex-direction: column;
        width: 100%;
    }
    .admin-service{
        width: 80%;
    }
}