.student-table-lists{
    width: 85%;
}
td{
    text-align: center;
    padding: 15px;
    color: #555;
}
.opreation-icon{
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
.delete-icon{
    color: #bb3232;
}